from airflow import DAG
from airflow.providers.docker.operators.docker import DockerOperator
from datetime import datetime, timedelta

default_args = {
    'owner': 'datapipe',
    'retries': 1,
    'retry_delay': timedelta(minutes=5),
}

dag = DAG(
    '{{ project.name }}_oracle_to_azure',
    default_args=default_args,
    description='Migración Oracle a Azure para {{ project.name }}',
    schedule_interval='{{ schedule }}',
    start_date=datetime(2024, 1, 1),
    catchup=False,
    tags=['datapipe', 'oracle', 'azure'],
)

{% for table in project.tables %}
extract_{{ table.name }} = DockerOperator(
    task_id='extract_{{ table.name }}',
    image='datapipe/extractor:latest',
    command=["--table", "{{ table.name }}", "--cloud", "azure"],
    environment={
        'AZURE_CONTAINER': '{{ project.destination.azure.storage_account }}',
    },
    dag=dag,
)

load_{{ table.name }} = DockerOperator(
    task_id='load_{{ table.name }}',
    image='datapipe/loader:latest',
    command=["--table", "{{ table.name }}", "--cloud", "azure"],
    environment={
        'SYNAPSE_WORKSPACE': '{{ project.destination.azure.synapse_workspace }}',
    },
    dag=dag,
)

extract_{{ table.name }} >> load_{{ table.name }}
{% endfor %}
